.header__items {
  height: 812px;
  width: 100%;
  background-image: url(../img/mountain.jpg); }
  .header__items-text {
    font-size: 44px; }
  .header__items-playButton {
    background: url(../img/play_button.png); }
  .header__items-NoNeed {
    font-size: 11px;
    color: #8c8c8f; }
