.header{

    &__items{
        height: 812px;
        width: 100%;
       
        background-image: url(../img/mountain.jpg);

        &-text{
            font-size: 44px;
    
        }
    
        &-playButton{
            background: url(../img/play_button.png);
            
        }
    
        &-NoNeed{
            font-size: 11px;
            color: #8c8c8f;
    
        }
    }
    

    
}